.link-button 
{
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;

    text-decoration: none;
    font-size: 20px;
    color: black;

  }

  iframe 
  {
    position: absolute; width:0; height:0; border:0;


  }

  #mainHeader
  {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 6%;
    background-color: rgb(55, 54, 54);
  }

  #navBarLogo
  {
    color: white;
    font-size: 30px;
    text-decoration: none;

    position: absolute;
    left: 2%;
    top: 20%;
    font-weight: bold;
  }

  #navBarUrl1
  {
    color: white;
    font-size: 20px;
    text-decoration: none;

    position: absolute;
    left: 12%;
    top: 30%;
  }

  #navBarUrl2
  {
    color: white;
    font-size: 20px;
    text-decoration: none;

    position: absolute;
    left: 24%;
    top: 30%;
  }

  #navBarUrl3
  {
    color: white;
    font-size: 20px;
    text-decoration: none;

    position: absolute;
    left: 81%;
    top: 30%;
  }

  #nameDisplay
  {
    color: white;
    font-size: 20px;
    text-decoration: none;

    position: absolute;
    left: 51%;
    top: 30%;
  }

  #mainTextDashboard
  {
    font-size: 30px;
    color: black;

    position: absolute;
    left: 30%;

  }
  
  #contactPersonsContainer
  {
    position: absolute;
    left: 30%;
    top: 30%;
  }

  .generalContainer
  {
    position: absolute;
    top: 15%;
  }

  .generalTextLarge
  {
    font-size: 30px;
  }

  .generalTextMedium
  {
    font-size: 20px;
  }

  #messageForm
  {
    position: absolute;
    top: 95%;
    left: 5%;
  }
